@font-face {
    font-family: miller;
    src: url('./miller.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.root-element {
    height: 100%;
}

.bgMain{
    background: url(./s1200.jpg) no-repeat center;
    background-size: 100%;
}

.dislpayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
} 

.background {
    background: url(./Дуб-Cантана.jpg) no-repeat center;
    background-size: 100%;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 15vh;
    width: 65vw;
    float: right;
}

.input {
    height: 25px;
    width: 250px;
    margin-bottom: 7vh;
    font-size: 22px;
    font-family: miller;
}

.wrapperReg,
.wrapperLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    width: 700px;
}

.wrappperButton {
    display: flex;
    justify-content: space-around;
    width: 550px;
}

.messageSingIn {
    display: flex;
    align-items: flex-start;
    height: 85vh;
    font-size: 35px;
    font-weight: bold;
    color: #a0e7af;
    margin: 0 auto;
}

.messageError {
    font-size: 25px;
    color: #ff0000;
    font-weight: bold;
    width: 35vw;
    background-color: #fadcdc;
    margin-bottom: 10vh;
}

.icon {
    background-image: url(./znak.jpg);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right;
}

.dislpayWWW {
    flex: 0 0 auto;
}

.invalid {
    border: 3px solid #ff0000;
}

.button {
    width: 250px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}